#feedback-modal{
  .modal-title{
    color: #fff61c;
  }
  .modal-content{
    border-color: dimgrey;
    background-color: black;
    button{
      border-color: #fff61c;
      background-color: dimgrey;
      color: #fff61c;
      float: right;
      margin-right: 10px;
    }
  }
  .form-horizontal{
    label{
      color: #fff61c;
    }
  }
}

#main-navbar{
  border-radius: 0;
  background-color: black;
  .navbar-brand{
    background-color: black;
    color:#fff61c;
  }
  a {
    background-color: dimgrey;
    color: #fff61c;
  }
}