<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<nav class="navbar navbar-default" id="main-navbar">
  <div class="container-fluid">
    <a class="navbar-brand">Star Battle</a>
    <a type = "button" class="btn btn-default navbar-btn" href="/#">Home</a>
    <a type="button" class="btn btn-default navbar-btn" href="/how_it_works">How It Works</a>
    <a type="button" class="btn btn-default navbar-btn" href="/battle_now">Battle Now</a>
    <a type="button" class="btn btn-default navbar-btn" href="/contact_us">Contact Us</a>
    <a type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#feedback-modal"  href="#feedback-modal">Feedback</a>
  </div>
</nav>
