<nav class="navbar navbar-default" style=background-color:dimgray;>
  <div class="container-fluid">
    <p class="navbar-text navbar-left" style=color:#fff61c>Star Battle</p>
    <a class="navbar-brand" style=color:#fff61c href="#">Home</a>
    <button type="button" class="btn btn-default navbar-btn">How It Works</button>
    <button type="button" class="btn btn-default navbar-btn">Battle Now</button>
  </div>
  </div>
</nav>