<!DOCTYPE html>
<html>
  <head>
    <title color="#fff61c">StarBattle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>

  <style>
      body {background-color: black;}
      h1 {color: white;}
      p {color: #fff61c;}
      nav {color: black;}
  </style>

  <%= render 'home/navbar' %>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
