<!DOCTYPE html>
<html>
  <head>
    <title color="#fff61c">StarBattle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'home/navbar' %>
    <%= render 'home/new_feedback_form' %>
    <div class="container">
        <%= yield %>


    </div>
  </body>
</html>
